.main-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  // max-width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-title {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    //   text-align: center;
    color: white;
    font-size: 34px;
    font-weight: bold;
    //   width: 80%;
    //   z-index: 1;
  }
  .banner-overview > p{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    //   text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}
.loading {
  opacity: 50%;
}

.previous-button 
.next-button{
  background-color: red;
  width: 10px;
}