.header-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6629026610644257) 0%,
    rgba(9, 9, 121, 0) 57%
  );
  color: black;
  top: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  ul {
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    display: flex;
    color: #faf3f3 !important;
    & > li:hover {
      color: #fff !important;
      // opacity: 70%;
      scale: 1.2;
      cursor: pointer;
    }
  }
}
.main-logo > img {
  height: 40px;
  width: 120px;
}
.header-right-side-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  :hover {
    color: white;

    scale: 1.2;
    cursor: pointer;
  }
}
